body {
  background: #F3F7FF;
  font-family: 'SF Pro Display','-apple-system','BlinkMacSystemFont','San Francisco','Helvetica Neue','Helvetica','Ubuntu','Roboto','Noto','Segoe UI','Arial',sans-serif;
}

h1 {
  color: blue;
  margin-top: 0;
  font-size: 3em;
  line-height: 1;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: black;
}

blockquote {
  font-family: monospace;
}

img {
  filter: grayscale(100%);
}

figure {
  margin: 1.5em 0;
}