body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #173EDD;
  background-color: #f6f9fe;
}

main {
  max-width: 800px;
  margin: auto;
}

h1 {
  color: #173EDD;
  font-size: 4em;
  line-height: 1;
}

a {
  color: #0b3ccc;
  text-decoration: none;
}

a:hover {
  color: black;
}

blockquote {
  font-family: monospace;
}

img {
  position: relative;
  z-index: -1;
  max-width: 100%;
}

figure {
  margin: 1.5em 0;
}

a.button,
.selected {
  border: 2px dashed #0b3ccc;
  display: inline-block;
  color: #173EDD;
  background: #F3F7FF;
  padding: 0.075em 0.2em 0.125em;
  border-radius: 0.25em;
  margin: 0 0.15em 0.15em 0;
}

a.button:hover {
  background: #173EDD;
  color: #F3F7FF;
}

p a.button {
  background: #0b3ccc;
  color: #f6f9fe;
  border: 1px solid #0b3ccc;
}

p a.button:hover {
  background: #0b3ccc;
  border-color: #0b3ccc;
}

.selected-button {
  display: inline-block;
  color: #173EDD;
  background: #F3F7FF;
  padding: 0.075em 0.2em 0.125em;
  border-radius: 0.25em;
  margin: 0 0.15em 0.15em 0;
  background: #0b3ccc;
  color: #f6f9fe;
  border: 1px solid #0b3ccc;
}

section.about p {
  margin-bottom: 1.5em;
}

section.about a {
  text-decoration: underline;
}

section.about a:hover {
  text-decoration: underline;
  background: #173EDD;
  color: #f6f9fe;
  text-decoration: none;
}

section.about blockquote {
  margin-bottom: 2em;
}

.selected {
  background: #173EDD;
  color: #F3F7FF;
}

a.home {
  display: inline-block;
  margin-bottom: 0.25em;
}

a.home:hover {
  color: #173EDD;
}

hr {
  border: 0;
  border-bottom: 2px dashed #173EDD;
  margin: 2.5em 0;
}

cite {
  font-style: normal;
}

h2 {
  font-size: 3em;
  margin: 0px;
}

/* new */

p {
  margin-top: 0.5em;
  margin-bottom: 4em;
  font-size: 20px;
}

header {
  margin-bottom: 2.5em;
}

span {
  /* margin-top: -80px; */
}

section{
  margin-bottom: 20px;
  clear: both;
}

.map {
  position: relative;
  max-width: 40%;
  margin-bottom: -70px;
  z-index: -1;
}

.photo {
  max-width: 70%;
}

.description {
  max-width: 20em;
  margin-top: 1.5em;
  font-size: 1.5em;
}

.text-left {
  float: left;
  text-align: left;
}

.text-left .description {
  float: left;
}

.text-right {
  float: right;
  text-align: right;
}

.text-right .description {
  float: right;
}

.description a {
  text-decoration: underline;
}

.description a:hover {
  background: #173EDD;
  color: #f6f9fe;
  text-decoration: none;
}

.img-right {
  float: right;
}

.welcome {
  text-align: left;
}

.toggleColor {
  background: #f6f9fe;
  color: #173EDD;
  padding: 5px 0px;
  width: 100px;
  border-radius: 5px;
  border: solid 1px #173EDD;
  text-align: center;
  cursor: pointer;
}

.toggleColor:hover {
  background: #173EDD;
  color:white;
}

.filter {
  -webkit-filter: grayscale(100%);
}

.reflection {
  font-size: 0.75em;
  line-height: 1.25;
  display: inline-block;
  font-style: italic;
}

img.map {
/*   border: 2px solid #0b3ccc; */
  diplay: inline-block;
  border-radius: 50%;
}